<%- include('../public/layouts/header') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Add New Car</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row car-container">
                        <div class="col-lg-6">
                            <form action="/" method="post" enctype="multipart/form-data">
                                <div class="form-group row">
                                  <label for="Car Name" class="col-sm-4 col-form-label">Nama</label>
                                  <div class="col-8">
                                    <input type="text" name="nama" class="form-control" id="Car Name" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="price" class="col-sm-4 col-form-label">Sewa Per Hari</label>
                                  <div class="col-8">
                                    <input type="text" name="harga" class="form-control" id="price" required>
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="size" class="col-sm-4 col-form-label">Ukuran</label>
                                    <div class="col-8">
                                        <select name="ukuran" i/.,d="size" class="form-control" required>
                                            <option value="small">Small</option>
                                            <option value="medium">Medium</option>
                                            <option value="large">Large</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="price" class="col-sm-4 col-form-label">Foto</label>
                                    <div class="col-8">
                                        <input type="file" name="foto" id="image" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-8">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                    <button type="reset" class="btn btn-danger">Cancel</button>
                                  </div>
                                </div>                              
                              </form>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

<%- include('../public/layouts/footer') %>