<%- include('../public/layouts/header') %>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Update Car Information</h1>
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row car-container">
                        <div class="col-lg-6">
                            <form action="/<%= dataPilih.id %>" method="post" enctype="multipart/form-data">
                                <div class="form-group row">
                                  <label for="Car Name" class="col-sm-4 col-form-label">Nama</label>
                                  <div class="col-8">
                                    <input type="text" name="nama" class="form-control" value="<%= dataPilih.nama ? dataPilih.nama : '' %>" id="Car Name">
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <label for="price" class="col-sm-4 col-form-label">Sewa Per Hari</label>
                                  <div class="col-8">
                                    <input type="text" name="harga" class="form-control" value="<%= dataPilih.harga ? dataPilih.harga : '' %>" id="price">
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <label for="size" class="col-sm-4 col-form-label">Ukuran</label>
                                    <div class="col-8">
                                        <select name="ukuran" id="ukuran" class="form-control">
                                            <option selected value="<%= dataPilih.ukuran ? dataPilih.ukuran : '' %>" disabled>Small</option>
                                            <option value="small">Small</option>
                                            <option value="medium">Medium</option>
                                            <option value="large">Large</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="price" class="col-sm-4 col-form-label">Foto</label>
                                    <div class="col-8">
                                        <input type="file" name="foto" id="foto" value="../img/<%= dataPilih.img ? dataPilih.img : '' %>">
                                    </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-8">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                  </div>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
<%- include('../public/layouts/footer') %>