<%- include('../public/layouts/header') %>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">List Car</h1>
                        <a href="addcar" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-plus text-white-50 mr-2"></i>Add New Car</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row car-container">
                        <% cars.forEach((car, index) => { %>
                            <div class="col-lg-4 col-md-6 col-sm-12 card-car">
                                <div class="card-car-image">
                                    <img src="/img/uploaded/<%- car.foto %>" class="car-thumbnail" alt="" srcset="">
                                </div>
                                <div class="card-car-text">
                                    <p><%- car.nama %></p>
                                    <strong><p>Rp <%- car.harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %> / hari</p></strong>
                                    <i class="far fa-clock"></i> <%- car.updatedAt %>
                                </div>
                                <div class="card-car-button">
                                    <a href="/delete/<%= car.id %>" class="btn btn-danger button"><i class="fas fa-trash"></i> &nbsp; Hapus </a>
                                    <a href="/<%= car.id %>" class="btn btn-success button">
                                        <i class="far fa-edit"></i> &nbsp; Edit
                                    </a>
                                </div>                                
                            </div>
                        <% }) %>                                      
                    </div>  
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
<%- include('../public/layouts/footer') %>