.car-container {
    display: flex;
    gap: 20px 20px;
}

.card-car {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 24px;
    background-color: #FFFFFF;
    max-width: 351px;
}

.card-car-image img {
    width: 100%;
}

.card-car-text {
    margin-top: 24px;
    margin-bottom: 24px;
}

.card-car-button {
    display: flex;
    justify-content: space-between;
}

.card-car-button .button{
    width: 143px;
}

.modal-content {
    text-align: center;
}

.car-thumbnail {
    height: 400px;
    object-fit: cover;
}

@media (max-width: 480px) {
    .card-car {
        max-width: 100%;
    }

    .card-car-button {
        flex-direction: column;
    }

    .card-car-button .button{
        margin-bottom: 15px;
        width: 100%;
    }
}